<div ng-include="'partials/searchByCity.html'"></div>

<div id="home-container" change-background ng-controller="homepageCtrl">
    <h2>{{data.location}}</h2>
    <p>{{data.weather}}</p>
    <p>Local Time: {{data.local_time}}</p>
    <p>{{data.last_updated}}</p>
    
    <div id="current-temp">
        Current Temp: 
        <span ng-show="farenheit">{{data.temp_f}}&deg;F</span> 
        <span ng-hide="farenheit">{{data.temp_c}}&deg;C</span>
        <br/>
        <a href="" ng-click="farenheit=true">F&deg;</a> 
        <a href="" ng-click="farenheit=false">C&deg;</a>
    </div>
    <p>{{data.error}}</p>
    
    <div class="ib" id="forecast">
        <h3><span ng-show="forecastdays===4">3</span><span ng-show="forecastdays===8">7</span>-day Forecast</h3>
        <a href="" ng-show="forecastdays===4" ng-click="forecastdays=8; pa_details=false;">7-day forecast</a>
        <a href="" ng-show="forecastdays===8" ng-click="forecastdays=4; pa_details=false;">3-day forecast</a>
        <ul>
            <li ng-repeat="day in data.forecast" ng-if="$index > 0 && $index < forecastdays">
                {{day.date.weekday}}, {{day.date.monthname}} {{day.date.day}} <br/>
                {{day.conditions}} <br/>
                High: <span ng-show="farenheit">{{day.high.fahrenheit}}&deg;F</span><span ng-hide="farenheit">{{day.high.celsius}}&deg;C</span>
                Low: <span ng-show="farenheit">{{day.low.fahrenheit}}&deg;F</span><span ng-hide="farenheit">{{day.low.celsius}}&deg;C</span>
            </li>
        </ul>
    </div>
    
    <div class="ib" id="precip-analysis">
        <div id="pa-container">
            <div id="pa-title">
                <div ng-show="forecastdays===4">
                    <span ng-show="{{data.precipAnalysis.precip_three_bool}}">
                        PRECIP FORECASTED NEXT 3 DAYS <a href="" ng-click="pa_details = true">details</a>
                    </span>
                    <span ng-hide="{{data.precipAnalysis.precip_three_bool}}">NO PRECIP FORECASTED NEXT 3 DAYS</span>
                </div>
                <div ng-show="forecastdays===8">
                    <span ng-show="{{data.precipAnalysis.precip_seven_bool}}">
                        PRECIP FORECASTED NEXT 7 DAYS <a href="" ng-click="pa_details = true">details</a>
                    </span>
                    <span ng-hide="{{data.precipAnalysis.precip_seven_bool}}">NO PRECIP FORECASTED NEXT 7 DAYS</span>
                </div>
            </div>
            <div id="pa-details" ng-show="pa_details">
                <ul>
                    <li ng-repeat="day in data.precipAnalysis.precip_data | filter: filter_precip">
                        {{day.month}} {{day.day}} <br/>
                        <precip-warning ng-if="day.rain" ng-data-obj="{{day}}" ng-data-type="rain">Rain {{day.rain}} in.</precip-warning>
                        <precip-warning ng-if="day.snow" ng-data-obj="{{day}}" ng-data-type="snow">Snow {{day.snow}} in.</precip-warning>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    
    <div class="ib" id="weekend-analysis">
        <div id="wa-container">
            <div id="wa-title">
                10-day Weekend Outlook
            </div>
            <div id="wa-details">
                <ul>
                    <li ng-repeat="day in data.forecast | filter: filter_weekend">{{day.date.monthname}}{{day.date.day}}</li>
                </ul>
            </div>
            <!--<weekend></weekend>-->
        </div>
    </div>
</div>

