<header id="main-header" ng-controller="headerCtrl">
<div style="height: 110px">
    <h1 class="ib">Weather App</h1>
    <div id="mobile-header" class="ib none" ng-click="showMobileSearch()">
        <a id="mobile-button">
            <div>
                <div id="menu-lines-top" class="menu-lines"></div>
                <div id="menu-lines-middle" class="menu-lines"></div>
                <div id="menu-lines-bottom" class="menu-lines"></div>
            </div>
        </a>
    </div>
    <div id="mobile-menu" class="none" ng-include="'partials/mobileMenu.html'"></div>
    <div id="header-search" class="ib mobileDisplayNone" ng-include="'partials/searchByCity.html'"></div>
</div>
</header>
<!--<div id="home-container" change-background ng-controller="homepageCtrl">-->
<div id="home-container" ng-controller="homepageCtrl">
    
    <section id="location-info">
        <p>{{data.location}}</p>
        <p id="location-time" class="mobileDisplayNone">Local Time: {{data.local_time}}</p>
        <a href="" ng-click="farenheit=true">F&deg;</a> 
        <a href="" ng-click="farenheit=false">C&deg;</a>
    </section>
    
    <section ng-show="data.alerts.length > 0" id="advisory">
        <h3>Alerts</h3>
        <ul>
            <li ng-repeat="alert in data.alerts">
                {{alert.description}}
                <advisory message="{{alert.message}}"></advisory>
            </li>
        </ul>
    </section>
    
    <section>
        <section change-background id="current-forecast" class="ib">
            <div>
                <p id="current-desc">{{data.weather}}</p>
                <div id="current-temp">
                    <span ng-show="farenheit">{{data.temp_f}}&deg;F</span> 
                    <span ng-hide="farenheit">{{data.temp_c}}&deg;C</span>
                </div>
                <p id="current-update" class="mobileDisplayNone">{{data.last_updated}}</p>
                <p>{{data.error}}</p>
            </div>
        </section>
        <!--<section change-background id="current-forecast-pic" class="ib" style="background-color:blue;">-->
            <!-- forecast picture section-->
        <!--</section>-->
    </section>
    
    
    <section id="forecast">
        <h3><span ng-show="forecastdays===4">3</span><span ng-show="forecastdays===8">7</span>-day Forecast</h3>
        <div>
            <a href="" ng-show="forecastdays===4" ng-click="seven_days()">(7-day)</a>
            <a href="" ng-show="forecastdays===8" ng-click="three_days()">(3-day)</a>
        </div>
        <scroller>
            <div id="forecast-prev" class="scroll-button" ng-click="previous()">prev</div>
            <ul>
                <li class="ib a" id="li{{$index}}" ng-repeat="day in data.forecast" ng-if="$index > 0 && $index < forecastdays">
                    <p>{{day.date.weekday}}, {{day.date.monthname}} {{day.date.day}}</p>
                    <p>{{day.conditions}}</p>
                    <p>High: <span ng-show="farenheit">{{day.high.fahrenheit}}&deg;F</span><span ng-hide="farenheit">{{day.high.celsius}}&deg;C</span></p>
                    <p>Low: <span ng-show="farenheit">{{day.low.fahrenheit}}&deg;F</span><span ng-hide="farenheit">{{day.low.celsius}}&deg;C</span></p>
                    <forecast-icon class="forecast-icons" icon="day.icon"></forecast-icon>
                </li>
            </ul>
            <div id="forecast-next" class="scroll-button" ng-click="next()">next</div>
        </scroller>
    </section>
    
    <section>
        <section class="ib" id="precip-analysis">
            <div id="pa-container">
                <div id="pa-title">
                    <div ng-show="forecastdays===4">
                        <h3 ng-show="{{data.precipAnalysis.precip_three_bool}}">
                            PRECIP FORECASTED NEXT 3 DAYS <a href="" ng-click="pa_details = true">details</a>
                        </h3>
                        <h3 ng-hide="{{data.precipAnalysis.precip_three_bool}}">NO PRECIP FORECASTED NEXT 3 DAYS</h3>
                    </div>
                    <div ng-show="forecastdays===8">
                        <h3 ng-show="{{data.precipAnalysis.precip_seven_bool}}">
                            PRECIP FORECASTED NEXT 7 DAYS <a href="" ng-click="pa_details = true">details</a>
                        </h3>
                        <h3 ng-hide="{{data.precipAnalysis.precip_seven_bool}}">NO PRECIP FORECASTED NEXT 7 DAYS</h3>
                    </div>
                </div>
                <div id="pa-details" ng-show="pa_details">
                    <ul>
                        <li ng-repeat="day in data.precipAnalysis.precip_data | filter: filter_precip">
                            {{day.month}} {{day.day}} <br/>
                            <precip-warning ng-if="day.rain" ng-data-obj="{{day}}" ng-data-type="rain">Rain {{day.rain}} in.</precip-warning>
                            <precip-warning ng-if="day.snow" ng-data-obj="{{day}}" ng-data-type="snow">Snow {{day.snow}} in.</precip-warning>
                        </li>
                    </ul>
                </div>
            </div>
        </section><section class="ib" id="weekend-analysis">
            <div id="wa-container">
                <h3 id="wa-title">
                    10-day Weekend Outlook
                </h3>
                <div id="wa-details">
                    <ul>
                        <!-- 
                            need to increase precip data to include current day and range to 10 days to accommodate the 10-day 
                            weekend outlook or filter the weekend outlook to exclude the current day and limit to 7 day weekend 
                            outlook.   
                        -->
                        <li ng-repeat="day2 in data.forecast | filter: filter_weekend">{{day2.date.monthname}}{{day2.date.day}}
                            <div ng-repeat="day in data.precipAnalysis.precip_data">
                                <precip-warning ng-if="day2.date.day === day.day && day.rain" ng-data-obj="{{day}}" ng-data-type="rain">Rain {{day.rain}} in.</precip-warning>
                                <precip-warning ng-if="day2.date.day === day.day && day.snow" ng-data-obj="{{day}}" ng-data-type="snow">Snow {{day.snow}} in.</precip-warning>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </section>
</div>

