<header id="title-header">Weather App</header>
<div class="full-length-search" ng-include="'partials/searchByCity.html'"></div>

<!--<div ng-controller="testCtrl">-->
<!--<weather>-->
<!--    <div id="change"></div>-->
<!--    <form name="testForm" ng-submit="testSubmit(test)">-->
<!--        <input type="text" name="city" ng-model="test.test1" />-->
<!--        <input type="text" name="state" ng-model="test.test2" />-->
<!--        <button type="submit">submit</button>-->
<!--    </form>-->
<!--</weather>-->
<!--</div>-->